main .buttonRow{
  width: 100%;
}
.tablink{
  display: flex;
  float: left;
  color: black;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  padding: 1em 1.1em;
  margin: 0;
}

.tablink.abtBtnn{
  background-color: var(--rosso);
}
.tablink.cntcBtnn{
  background-color: var(--viola);
}
.tablink.gllrBtnn{
  background-color: var(--giallo);
}
